[buildout]
extends =
    config.cfg
    https://raw.githubusercontent.com/bluedynamics/buildout-base/master/etc/deploy.cfg

[zeoserver]
effective-user = programmatic
zeo-address = 25050

[instance]
effective-user = programmatic
http-address = 25051

[client1]
effective-user = programmatic
http-address = 25052
